.wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  overflow: hidden;
  z-index: 105;
  background-color: rgba(0, 0, 255, 0.1); /* Light blue with transparency */
  backdrop-filter: blur(2.5px);
}
