.sidebar {
  width: 80px !important;
  min-width: 80px !important;

  @media (max-width: 1200px) {
    width: 0 !important;
    min-width: 0 !important;
  }

  &:hover {
    width: 250px !important;
    min-width: 250px !important;

    .title {
      opacity: 1;
    }
  }
}

.collapsed {
  width: 250px !important;
  min-width: 250px !important;

  .logo {
    .title {
      opacity: 1;
    }
  }
}

.active {
  background: rgba(255, 255, 255, 0.23) !important;
}
.menuItem {
  color: white !important;
  z-index: 100 !important;
  a {
    padding-left: 20px !important;
  }
  a:hover {
    opacity: 1 !important;
    background: rgba(255, 255, 255, 0.23) !important;
  }

  .ps-submenu-expand-icon.css-1cuxlhl {
    display: block !important;
  }
}

.title {
  opacity: 0;
  transition: 0.2s;
  width: 250px;
  padding: 12px 20px;
  cursor: pointer;
}
.overlay {
  z-index: 99;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.logo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;

  .logoimg {
    display: block;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 0px;
    right: 15px;
    width: calc(100% - 30px);
    height: 1px;
    background-color: #fff;
    opacity: 0.8;
  }
}
