.sidebar {
  width: 80px !important;
  min-width: 80px !important;
  z-index: 200 !important;

  @media (max-width: 1200px) {
    width: 0 !important;
    min-width: 0 !important;
  }

  &:hover {
    @media (min-width: 1200px) {
      width: 260px !important;
      min-width: 260px !important;
    }

    .title,
    .subTitle {
      opacity: 1;
    }
  }
}

.collapsed {
  width: 260px !important;
  min-width: 260px !important;

  .title,
  .subTitle {
    opacity: 1;
  }
}
.title,
.subTitle {
  opacity: 0;
}

.title {
  transition: 0.2s;
  width: 260px;
  padding: 12px 0 0 20px;
  cursor: pointer;
  font-family: "Bruno Ace SC" !important;
  font-size: 28px;
}
.subTitle {
  font-size: 14px;
  overflow: hidden;
  text-overflow: initial;
  white-space: nowrap;
}
.overlay {
  z-index: 110;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.logo {
  position: relative;
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;

  .logoimg {
    display: block;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 0px;
    right: 15px;
    width: calc(100% - 30px);
    height: 1px;
    background-color: #fff;
    opacity: 0.8;
  }
}

.subMenuItem {
  & > a {
    margin: 10px;
    padding-left: 10px !important;
    &:hover {
      background: rgba(255, 255, 255, 0.23) !important;
      border-radius: 5px;
    }
  }
}

.submenu {
  margin: 0 !important;
  a {
    margin: 10px;
    padding: 0 10px !important;
    &:hover {
      background: rgba(255, 255, 255, 0.23) !important;
      border-radius: 5px;
    }
  }
}

.active {
  a {
    background: rgba(255, 255, 255, 0.23) !important;
    border-radius: 5px;
  }
}

.menuItem {
  a {
    margin: 10px;
    padding: 0 10px !important;
    &:hover {
      background: rgba(255, 255, 255, 0.23) !important;
      border-radius: 5px;
    }
  }
}
.logout {
  display: none;

  @media (max-width: 1200px) {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    margin-top: 30px;
    width: 100%;
  }
}
