.btn {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border-radius: 50px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #ffffff;
  min-width: 140px;
}

.primary {
  background-color: #dcc38b;
  color: white;
}

.white {
  background-color: white;
  color: #bea087;
}

.medium {
  height: 40px;
}

.primary {
  height: 55px;
}
