.modalBody {
  padding: 20px 30px;
  position: relative;
}
.footer {
  padding: 15px;
  display: flex;
  justify-content: flex-end;
}
.block {
  height: 60vh;
  overflow-y: scroll;
}
.form {
  height: 100%;
}
