.item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding: 15px 3px 15px 15px;
  align-items: center;

  h6 {
    margin-bottom: 0;
  }
}

.birgadesModal {
  width: 420px;
}
.assignModal {
  width: min-content;
  padding: 5px;
}
.items {
  overflow-y: scroll;
  height: 300px;
  margin-top: 10px;
}
.textArea {
  height: initial !important;
}
.image {
  height: 600px;
  width: 700px;
  display: block;
  // background-size: contain;
  // object-fit: contain;
}
.imgBlock {
  position: relative;
}
.close {
  position: absolute;
  top: 10px;
  right: 10px;
}
.imgUrl {
  color: #007bff !important;
  cursor: pointer;
  max-width: 300px;
  width: 100%;
}

.imgUrl {
  color: #007bff !important;
  cursor: pointer;
  max-width: 150px;
  width: 100%;
}
