.label {
  font-size: 12px;
}
.radioBtn {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 0;
}
.formControl {
  display: flex !important;
  gap: 10px;
}
.select {
  height: 40px;
}
