.uploadImage {
  display: flex;
  flex-direction: column;
  padding-right: 0 !important;
}
.btn {
  @media (max-width: 720px) {
    width: 100% !important;
  }
}
.form {
  display: flex;
  flex-direction: column;

  label {
    font-size: 12px;
    text-transform: uppercase;
    padding-left: 0;
  }
}
.increment,
.count {
  align-items: center;
  justify-content: center;
  width: 30px;
  display: flex;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1);
  border-radius: 10px;
}

.count {
  width: 50px;
  border: none;
  outline: none;
  text-align: center;
  // padding: 5px;
}
