@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --hoverGray: #c2c2c2;
}
body {
  background-color: #f5f5f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Rubik";
  -webkit-font-smoothing: antialiased;
}
.pointer {
  cursor: pointer;
}
.content {
  padding: 15px 15px 10px;

  @media (max-width: 760px) {
    padding: 8px 8px 5px;
  }
}

.table {
  font-size: 14px;
  tbody {
    tr {
      td,
      th {
        padding: 7px 5px;
      }
    }
  }
}
.mb10 {
  margin-bottom: 10px;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar:horizontal {
  height: 4px;
}

tr {
  transition: 200ms;
  &:hover {
    background: var(--hoverGray);
  }
}

::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
button {
  border: none !important;
}
input {
  color-scheme: light;
}

.form-control {
  border: 1px solid #ccc !important;
  border-radius: 4px !important;
  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #495057;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.table-danger {
  background-color: #f5c6cb !important;
  transition: 200ms;

  &:hover {
    opacity: 0.6 !important;
  }
}
.table-waiting {
  background-color: #f5c7e7 !important;
  transition: 200ms;

  &:hover {
    opacity: 0.6 !important;
  }
}
.table-primary {
  background-color: #b8daff !important;
  transition: 200ms;
  &:hover {
    opacity: 0.6 !important;
    --bs-table-hover-bg: #87cb16 !important;
  }
}
.table-warning {
  background-color: #fff49eb0 !important;
  transition: 200ms;

  &:hover {
    opacity: 0.6 !important;
    --bs-table-hover-bg: #87cb16 !important;
  }
}
.table-gray {
  background-color: #dacfb5 !important;
  transition: 200ms;

  &:hover {
    opacity: 0.6;
  }
}
.table-green {
  background-color: #8ad6cc !important;
  transition: 200ms;

  &:hover {
    opacity: 0.6;
  }
}
.table-responsive {
  overflow-x: auto;
  min-height: 600px;
  height: 100%;
}
.link {
  color: #007bff;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.table > :not(caption) > * > :not(th) {
  background-color: transparent;
}

.table-success {
  background-color: #90ee90 !important;
  opacity: 0.8;
  transition: 200ms;

  &:hover {
    opacity: 0.6 !important;
    --bs-table-hover-bg: #87cb16 !important;
  }
}
.sidebar {
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #447df7;
  transform: none !important;
  left: 0;
  .nav {
    margin-top: 0;
  }

  &::before,
  &::after {
    content: none !important;
  }

  li {
    z-index: 10;
  }
}
.collapse {
  max-height: 0;
  overflow: hidden;
  transition: 0.7s;
  display: block;
  visibility: visible !important;

  &:not(.show) {
    display: block !important;
  }
}

.collapse.show {
  max-height: 1000px;
}

.react-datepicker-popper[data-placement^="bottom"]
  .react-datepicker__triangle::after {
  display: none !important;
  opacity: 0;
}
.react-datepicker-popper[data-placement^="bottom"]
  .react-datepicker__triangle::before {
  display: none !important;
}
.h-40 {
  height: 40px !important;
}
.btn {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border-radius: 0.37rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-primary {
  color: #ffffff;
  opacity: 1;
  background-color: #3472f7;
}
.btn-success {
  color: #ffffff;
  opacity: 1;
  background-color: #87cb16;
}
.btn-warning {
  background-color: #ffca2c;
  color: black;
}
.btn-danger {
  color: #ffffff;
  background-color: #ff4a55;
  opacity: 1;
}
.btn-info {
  color: #ffffff;
  background-color: #1dc7ea;
  opacity: 1;
}
hr {
  margin: 1rem 0;
  color: inherit;
  border: 0;
  border-top: 1px solid black;
  opacity: 0.25;
}
.form-group {
  margin-bottom: 1rem;
}
.sidebar .nav,
body > .navbar-collapse .nav {
  float: none;
  display: block;
}

table {
  width: 100%;
  margin-bottom: 1rem;
  th {
    padding: 8px;
    text-align: start;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: var(--bs-heading-color);
}

table tr {
  border-bottom: 1px solid #b4b4b3;
}
a {
  color: #007bff;
}
.row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.col-md-6 {
  flex: 0 0 auto;
  flex: 1;
}

.row > * {
  flex-shrink: 0;
  max-width: 100%;
}
.table-bordered {
  border: 1px solid #b4b4b3;
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}
.float-end {
  float: right !important;
}
p {
  font-size: 16px;
  line-height: 1.5;
}
.table-bordered td,
.table-bordered th {
  border: 1px solid #b4b4b3;
}
.table-bordered > :not(caption) > * > * {
  border-width: 0 1px;
}
.alert {
  padding: 0.5rem 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
.branch-select {
  input {
    min-width: 200px !important;
  }
}
.ant-table-cell {
  padding: 10px !important;
}

.ant-table-header {
  overflow: visible !important;
}
:where(.css-dev-only-do-not-override-14i19y2).ant-table-wrapper
  .ant-table-thead
  > tr
  > th,
:where(.css-dev-only-do-not-override-14i19y2).ant-table-wrapper
  .ant-table-thead
  > tr
  > td,
:where(.css-14i19y2).ant-table-wrapper .ant-table-thead > tr > th {
  background: #447df7;
  color: white;
}

:where(.css-dev-only-do-not-override-14i19y2).ant-table-wrapper
  .ant-table-thead
  > tr
  > th:not(:last-child):not(.ant-table-selection-column):not(
    .ant-table-row-expand-icon-cell
  ):not([colspan])::before,
:where(.css-14i19y2).ant-table-wrapper
  .ant-table-thead
  > tr
  > th:not(:last-child):not(.ant-table-selection-column):not(
    .ant-table-row-expand-icon-cell
  ):not([colspan])::before {
  background: initial !important;
}
