.card {
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1);
  background-color: #fff;
  margin-bottom: 30px;
  padding: 15px;
}

.category {
  font-size: 14px;
  font-weight: 400;
  color: #676767;
  margin-bottom: 0;
}

.hr {
  border-width: 2px;
  border-color: #00000080;
  opacity: 0.6;
}

.blockItem {
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  background: #fff;
  padding: 8px 12px;
  display: flex;
  flex-direction: column;
}
