.item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding: 15px 3px 15px 15px;
  align-items: center;

  h6 {
    margin-bottom: 0;
  }
}

.birgadesModal {
  width: 420px;
}
.assignModal {
  width: min-content;
  padding: 5px;
  overflow-y: auto;
}
.items {
  overflow-y: scroll;
  max-height: 300px;
  height: 100%;
  margin-top: 10px;
}
.textArea {
  height: initial !important;
}
.image {
  max-height: 80vh;
  height: 100%;
  max-width: 80vw;
  display: block;
}
.imgBlock {
  position: relative;
}
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
}
.imgUrl {
  color: #007bff !important;
  max-width: 150px;
  width: 100%;
}
