.tableHead {
  font-weight: 600;
  background-color: #d5302c !important;
  color: white !important;
}
.viewImg {
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.content {
  padding: 15px 15px 10px;
}
